numpy
pandas
scikit-learn
matplotlib
seaborn
langchain
anthropic
google-generativeai
langchain-google-genai
langchain-mistralai
mistralai==1.2.5
openai
transformers
streamlit
kaggle
mlflow>=2.9.0
kagglehub
rapidfuzz
langchain-community
langchain-huggingface>=1.0.0
faiss-cpu
langchain-text-splitters
transformers
sentence-transformers
torch
accelerate
huggingface-hub
datasets
ollama 
plotly